@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg: #000000;
    --bg2: #191919;
    --clr1: #25AB75;
    --clr2: #FFE642;
    --clr3: #FB1351;
    --text-clr: #ffffff;
}

body {
    background-color: var(--bg);
    color: var(--text-clr);
}

nav {
    color: var(--bg) !important;
    padding: 3rem 6rem !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: none;
    color: var(--text-clr);
}

.new {
    width: 25rem;
    border-radius: 20px;
}

.new span {
    background-color: var(--clr1);
}

.nav-item {
    margin-left: 2rem;
}

.nav-link:hover {
    color: var(--clr3) !important;
}

.main-container {
    padding: 7rem;
    width: 100%;
}

.hero {
    margin: 1rem 0rem 10rem 0rem;
}

.banner-heading h1 {
    font-size: 12rem;
    line-height: 10rem;
}

.heading-2 {
    width: 30rem;
}

.timeandcal img {
    position: absolute;
    left: 35%;
    z-index: -999 !important;
    top: -15%;
    width: 50%;
    height: auto;
}

.timeandcal div {
    border-radius: 20px;
}

.timeandcal h1{
    font-size: 4rem;
}
.ui-btn button {
    color: var(--text-clr);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 15rem;
    transition: all .5s ease-in-out;
}

.ui-btn button:hover {
    transform: scale(1.1);
    color: var(--text-clr) !important;
}

.ui-btn .gs {
    background-color: var(--clr1);
}

.ui-btn .pr {
    background-color: var(--bg2);
}

.get-started {
    padding: 4rem 10rem 4rem 10rem;
}

.get-started h1 {
    font-size: 7rem;
}

.get-started .ui-btn h5 {
    font-weight: 200;
    line-height: 4rem;
    font-size: 2rem;
}

.get-started .my-patch {
    background-image: url(./assets/patch.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.category .col-sm-3 .position-absolute {
    width: 100%;
    bottom: -3.5rem;
}

.category .col-sm-3 .position-absolute .d-flex {
    background: linear-gradient(rgba(16, 0, 0, 0), 15%, rgba(0, 0, 0, 0.849), black);

}

.category .col-sm-3 .position-absolute h5 {
    background-color: var(--bg);
    border-radius: 15px 0px 0px 15px;
    padding: .4rem 1rem;
}

.category .d-flex img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.category .gap-5 {
    margin: 2rem 0rem 5rem;
}

.category .col-sm-3 p,
.trainer p,
.listing h5,
.listing h2 {
    color: #949393;
}

.trainer {
    padding: 0rem 0rem 5rem 0rem;
}

.trainer-img {
    height: 20rem;
    object-fit: cover;

}

.trainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.listing {
    padding: 0rem 10rem;
}

.listing .d-flex h1 {
    font-size: 3rem !important;
}

.listing .d-flex h5 {
    font-weight: 200;
}

.listing div {
    border-color: #646464 !important;
}

.footer {
    margin: 4rem 0rem;
}

.footer .mb-5 {
    letter-spacing: 2px;
}


@media only screen and (max-width: 1100px) {
    .main-container {
        padding: 0rem 4rem;
    }
    .banner-heading h1 {
        font-size: 9rem;
        line-height: 7rem;
    }
    .timeandcal img {
        left: 41%;
        z-index: -999 !important;
        top: 2%;
        width: 60%;
    }
    .timeandcal h1 {
        font-size: 3rem;
    }
    nav {
        padding: 3rem 3rem !important;
    }
     
    .category{
        padding-bottom: 3rem;
    }
    .category .col-sm-3 h2 {
        font-size: 1.5rem;
    }

    .category .col-sm-3 h5 {
        font-size: 1rem;
    }

    .category .col-sm-3 p {
        font-size: .7rem;
        font-weight: 200;
    }

    .category .col-sm-3 {
        width: 30%;
    }

    .trainer-img {
        height: 15rem;
    }
    .get-started .ui-btn h5 {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    .get-started h1 {
        font-size: 6rem;
    }
    .get-started {
        padding: 4rem 5rem 4rem 5rem;
    }
}

@media only screen and (max-width: 950px) {

    .footer .col-3 {
        width: 35%;
    }

    .footer .col-auto p {
        font-size: .6rem;
        margin-bottom: 3rem !important;
    }

    .footer .col-3 p {
        font-size: .8rem;
    }

    .navbar-collapse {
        background-color: var(--bg2) !important;
    }

    .navbar-nav {
        text-align: center !important;
        padding: 0rem 2rem 0rem 0rem;
    }

    .navbar-nav .nav-link {
        margin: 1rem 0rem !important;
    }

    .bx-menu {
        font-size: 3rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .timeandcal img {
        left: 38%;
        top: 2%;
        width: 70%;
    }
    .get-started h1 {
        font-size: 4.5rem;
    }
    .get-started .ui-btn h5 {
        line-height: 2rem;
        font-size: 1.3rem;
    }
    .trainer {
        padding: 0rem 0rem 0rem 0rem !important;
    }
    .banner-heading h1 {
        font-size: 8rem;
        line-height: 6rem;
    }
    .navbar-toggler {
        padding: 0rem !important;
    }

    .category .gap-5 {
        gap: 2rem !important;
    }

    .get-started {
        padding: 2rem 5rem;
    }

    .get-started .col-4 {
        width: 40%;
    }

    .trainer-img {
        height: 12rem;
    }
   
    .listing .d-flex h1{
        font-size: 2.5rem !important;
    }
    .hero {
        margin: 1rem 0rem 5rem 0rem;
    }
}

@media only screen and (max-width:850px) {

    .get-started h1 {
        font-size: 4rem;
    }
    .get-started .ui-btn h5 {
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .listing {
        padding-top: 0rem !important;
    }
    .ui-btn button {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        width: 10rem;
    }
    .listing .d-flex h1 {
        font-size: 2rem !important;
    }
    .timeandcal img {
        left: 42%;
        top: 7%;
        width: 60%;
    }
    .main-container {
        padding: 0rem 3rem;
    }
    .main-container p{
        font-size: .7rem;
    }

    .footer .col-3 {
        width: 30%;
    }

    .timeandcal {
        margin: 2rem 0rem;
        flex-direction: row !important;
    }

    .get-started {
        padding: 2rem 3rem;
    }

    .get-started .col-4 h5 {
        font-size: 1rem;
    }

    .trainer-img {
        height: 10rem;
    }

    .tr {
        font-size: 1rem;
    }

    .trainer p {
        font-size: .8rem;
        color: #949393;
    }


}



@media only screen and (max-width: 600px) {

    .new span {
        font-size: .8rem !important;
        padding: 0.1rem 0.8rem !important;
        margin-right: 0.5rem !important;
    }
    nav {
        padding: 2rem 2rem !important;
    }

    .banner-heading h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .footer .col-3 p,
    .category .justify-content-between p {
        font-size: .5rem;
    }

    .footer .col-auto p {
        font-size: .5rem;
        letter-spacing: .5px;
        margin-bottom: 2rem !important;
    }

    .footer {
        padding: 1rem 3rem;
        margin: 1rem 0rem;
    }

    .timeandcal {

        margin: 1rem 0rem;
    }

    .category .gap-5 {
        gap: .5rem !important;
    }

    .category .col-sm-3 h2 {
        font-size: .8rem;
    }

    .category .col-sm-3 .position-absolute h5 {
        border-radius: 5px 0px 0px 5px;
        font-size: .5rem;
        padding: 0.2rem .5rem;
    }

    .category .col-sm-3 p {
        font-size: .4rem;
    }

    .category .d-flex img {
        border-radius: 10px;
    }

    .category .gap-5 {
        margin: 2rem 0rem 3rem;
    }

    .category .col-sm-3 .position-absolute {
        width: 100%;
        bottom: -2rem;
    }

    .category .justify-content-between h2 {
        font-size: 1rem;
    }

    .get-started {
        padding: 2rem;
    }

    .get-started h1 {
        font-size: 3rem;
    }

    .trainer-img {
        height: 6rem;
    }

    .trainer .text-center {
        padding: .5rem 0rem !important;
    }

    .tr{
        font-size: .5rem;
    }
    .listing .d-flex h5 {
        font-size: .9rem;
    }

    .trainer p {
        font-size: .4rem;
    }
    .new {
        width: 18rem;
    }
    .heading-2 {
        width: 20rem;
    }
    .timeandcal img {
        left: 41%;
        top:11%;
        width: 65%;
    }
    .get-started .ui-btn h5 {
        line-height: 1.3rem;
        font-size: .8rem;
    }
    .listing .d-flex h1 {
        font-size: 1.5rem !important;
    }
    
}

@media only screen and (max-width: 450px) {
    .category .justify-content-between {
        padding-bottom: 0rem !important;
    }
    .timeandcal h1 {
        font-size: 2rem;
    }
    .timeandcal img {
        left: 3%;
        top: 4%;
        width: 100%;
    }
    nav {
        padding: 1rem !important;
    }

    .navbar .container-fluid {
        padding: 0rem !important;
    }

    .bx-menu {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .ui-btn button {
        padding: 0.6rem 1rem;
        width: 8rem;
        font-size: .8rem;
    }

    .new {
        width: 18rem;
    }

    .hero .rounded-pill {
        font-size: .8rem;
        padding: .15rem .5rem !important;
        margin-right: .5rem !important;
    }

    .main-container {
        padding: 0rem 1rem;
    }

    .banner-heading h1 {
        font-size: 5rem;
        line-height: 4rem;
    }

    .main-container p {
        font-size: .7rem;
    }

    .heading-2 {
        width: 18rem;
    }

    .category .gap-5 {
        margin: 2rem 0rem;
    }

    .category .col-sm-3 h2 {
        font-size: .6rem;
        padding: 0rem 0rem .3rem 0rem !important;
    }

    .get-started {
        padding: 1rem 2rem;
    }

    .get-started h1 {
        font-size: 2rem;
    }
    .ui-btn button {
        padding: 0.4rem 0.5rem;
        width: 6rem;
        font-size: .7rem;
    }
    .get-started .ui-btn button{
        margin-top: .5rem !important;
    }
    .get-started .ui-btn h5 {
        line-height: 1rem;
        font-size: .6rem;
    }
    .listing .d-flex h1 {
        font-size: 1.3rem !important;
        margin-bottom: .2rem !important;
    }
    .listing .d-flex h5 {
        font-size: .7rem;
    }
    .col-6 {
        width: 58% !important;
    }
    .get-started .col-4 h5 {
        font-size: .6rem;
    }
    .listing {
        padding: 1rem 2rem !important;
    }
    .listing .d-flex {
        padding: 2rem 0rem !important;
    }
    .get-started .col-4 button {
        padding: 0.3rem 0.5rem;
        width: 6rem;
        margin-top: 1rem !important;
        font-size: .7rem;
    }

    .footer .col-3 {
        width: 50%;
    }

    .footer .col-3 h2 {
        font-size: 1rem;
    }

    .footer .col-auto p {
        font-size: .5rem;
        margin-bottom: 1.8rem !important;
    }


}